
  body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Arial, sans-serif;
}
h1, h2, h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Arial, sans-serif;
}


/* Box del contesto */
.contesto {
  background-color: #f2f2f2;
  border-left: 5px solid #999;
  padding: 12px 15px;
  margin: 15px 0;
  font-size: 15px;
}

/* Quesito */
.quesito {
  font-weight: bold;
  font-size: 17px;
  margin: 10px 0;
}

/* Immagine della domanda */
.immagine-domanda {
  max-width: 400px;
  display: block;
  margin: 10px 0 15px 0;
}

/* Opzioni */
label {
  display: block;
  margin-left: 10px;
  font-size: 15px;
}

.opzioni {
  clear: both;
  margin-top: 10px;
}


